
.acrux_Product {
    cursor: pointer;
    position: relative;
    display: flex;
    border: 1px solid $acrux_card_border;
    background-color: $acrux_card_background;
    margin-bottom: 4px;
    margin-left: 4px;
    padding: 4px;
    color: var(--body-color);
    flex-direction: row;
    touch-action: auto;

    @media (max-width: 768px) {
        margin: -1px 0 0 -1px;
        width: 50%;
    }
    
    .o_product_data {
        display: flex;
        z-index: 1;
    }
    
    .o_product_image {
        text-align: center;
        width: 50px;
        height: 50px;

        img {
            width: 50px;
            height: 50px;
            //border-radius: 50%;
            position: relative;
        }
        .acrux_facebook,
        .acrux_messenger,
        .acrux_instagram,
        .acrux_whatsapp {
            background-image: url(/whatsapp_connector/static/src/img/social_icons_v2.png);
            background-repeat: no-repeat;
            background-size: 176px 60px;
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: -16px;
            right: -16px;
            transform: scale(0.33);
        }

        .acrux_facebook {
            background-position: 0 0;
        }

        .acrux_messenger {
            background-position: 0 0;
        }

        .acrux_instagram {
            background-position: -59px 0;
        }

        .acrux_whatsapp {
            background-position: -118px 0;
        }
    }
    
    .oe_product_details {

        padding-left: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        width: 100%;

        ul {
            margin-bottom: 2.5px;
            padding-left: 0;
            list-style: none;
            font-size: 11px;
        }

        .o_product_name {
            color: inherit;
            margin-bottom: 0;
            margin-top: 0;
            font-size: 12px;

            span {
                display: block;
                width: 150px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        
    }
    
    .product_options_btn {
        display: flex;
        flex-direction: row;
        justify-content: end;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        
        button {
            padding: 0;
            font-size: 1.2em;
            margin-right: 3px;
        }
    }
}

.o_web_client.o_touch_device {
    .acrux_Product .product_options_btn button {
        font-size: 1.6em !important;
    }
    @media (max-width: 768px) {
        .acrux_Product {
            width: 100%;
            .o_product_name span {
                white-space: unset;
                width: 100%;
            }
        }
    }
}
 @media (max-width: 768px) {
    .acrux_Product .product_options_btn button {
        font-size: 1.6em !important;
    }
 }
