.kpi-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.kpi-card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.kpi-card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    min-width: 250px;
}

.kpi-purchase {
    background: linear-gradient(to right, #92E0F7, #67EB9E);
}
.kpi-purchase_order {
    background: linear-gradient(to right, #92E0F7, #43BF77);
}
.kpi-purchase_person {
    background: linear-gradient(to right, #92E0F7, #21C257);
}
.kpi-sales {
    background: linear-gradient(to right, #36d1dc, #5B86E5);
}

.kpi-orders {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}


.kpi-sale_person {
    background: linear-gradient(to right, #46E7F2, #5B86E5);
}
.kpi-stock-incoming {
    background: linear-gradient(to right, #C881F7, #D94E4E);
}
.kpi-stock-outgoing {
    background: linear-gradient(to right, #EB3F3F, #FCB045);
}
.kpi-stock-total {
    background: linear-gradient(to right, #FA4848 ,#FCB045);
}

.kpi-value {
    font-weight: bold;
    font-size: 2em;
}

/* Centering the refresh button */
.kpi-refresh-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.kpi-refresh-button:hover {
    background-color: #0056b3;
}

.kpi-section-title {
    width: 100%;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.kpi-section-title h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #2c3e50;
    border-left: 6px solid #5b86e5;
    padding-left: 12px;
}
.kpi-section-title.purchase h2 {
    border-color: #ee0979;
}
.kpi-section-title.sales h2 {
    border-color: #5b86e5;
}
.kpi-section-title.stock h2 {
    border-color: #96c93d;
}