.installment_index-left-alignleft-align {
    text-align: left !important;
}
.sa {
    min-width: 74px;
    width: 157px;
    flex-direction: row;
    vertical-align: middle !important;
    display: flex;
    text-align: left !important;
}


element.style {
    min-width: 74px;
    width: 157px;
    flex-direction: row;
    vertical-align: middle !important;
    display: flex;
    text-align: left !important;
}
.installment_table table.o_list_table thead th:first-child .flex-row-reverse > span{
   text-align: left !important;
}

.installment_table table.o_list_table .installment_index-left-align{
    text-align: left !important;
    padding-left: 30px !important;
}

.installment_invoice_right_align {
    text-align: right !important;
}

.installment_label {
    margin-left: 10px; font-weight: bold;
}